{
  "extends": [
    "@strv/javascript/environments/react/v15",
    "@strv/javascript/environments/react/optional",
    "@strv/javascript/coding-styles/recommended"
  ],
  "env": {
    "commonjs": true
  }
}